.polling-container {
  margin-left: 5%;
  margin-right: 5%;
}

.polling-range-form-label-dark {
  color: rgb(0, 0, 0);
  margin-bottom: 0.5rem;
}

.polling-range-form-label-light {
  color: rgb(255, 255, 255);
  margin-bottom: 0.5rem;
}

.form-check-label-dark {
  color: rgb(0, 0, 0);
}

.form-check-label-light {
  color: rgb(255, 255, 255);
}

.table-refresh {
  opacity: 0.3;
}
